.encabezado{
    height: 200px;
    width: 100%;

    background-color: rgb(45, 45, 45);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
}

.encabezado > h1 {
color: aliceblue;
text-align: center;
}
.encabezado > img {

height: 150px;
width: auto;
margin-right: 50px;

}


.navBar{
display: flex;
justify-content: center;

}



/* ---------------- MAIN SECTION ------------------- */
#main {

width: 100%;
margin: 0px;
background-color: rgb(49, 49, 49);
color: white;


}
.mainTexto {
    margin: 5%;
}
#extra1{
  text-align: center;
}

.fotoSection{
    background-color: rgb(42, 42, 42);
}
.principal1{
    display: flex;
    flex-direction: row;
}
.principal1 > img{
    justify-content: center;
    align-items: center;
    
}

.iconchefsIMG{
    width: 300px;
    height: auto;
    margin-left: 25%;
}

.row{
    margin: 15px;
    /* border: 1px solid rgb(255, 210, 235); */
}
.col{
 /*   border: 1px solid rgb(163, 163, 163); */
    margin: 10px;
}





.imgSectionMain {
padding: 20px;
margin: 2%;
height: auto;
background-color: rgb(228, 228, 228);
color: rgb(46, 46, 46);
text-align: center;


}
.imgSectionMain > div > .row,
.imgSectionMain > div > .col
{
   margin: 15px;
   display: flex;
   justify-content: center;
}

.imgSectionMain > .row > .col > img {
    width: 80%;
    height: auto;
    border: 1px solid rgb(62, 62, 62);
    &:hover {
        transform: scale(1.01);
        box-shadow: 0 3px 6px rgba(243, 255, 16, 0.589);
      }
}






/*FOOTER --------------------------------------*/

#footer {

height: auto;
width: 100%;
background-color: rgb(41, 41, 41);
color: antiquewhite;

}